In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Market_Basket_Optimisation.csv',header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# 检查行是否有重复项 此步非必须
for i in range(len(data)):
    lst=data.loc[i].dropna().tolist()
    if len(lst) != len(set(lst)):
        print(i)
        print('有重复')

4394
有重复
4494
有重复
4526
有重复
6903
有重复
7109
有重复

## 1. efficient_aprior

In [22]:
from efficient_apriori import apriori

# 数据集准备 去重 去NaN
transaction=[]
for i in range(len(data)):
    temp_set=set(data.loc[i].dropna().tolist())
    transaction.append(temp_set)

In [24]:
itemsets, rules = apriori(transaction, min_support=0.02,  min_confidence=0.5)
print('频繁项集：', itemsets)
print('关联规则：', rules)

频繁项集： {1: {('vegetables mix',): 193, ('tomato juice',): 228, ('honey',): 356, ('mineral water',): 1788, ('frozen smoothie',): 475, ('cottage cheese',): 239, ('shrimp',): 536, ('avocado',): 250, ('salmon',): 319, ('olive oil',): 494, ('energy drink',): 200, ('almonds',): 153, ('low fat yogurt',): 574, ('green tea',): 991, ('eggs',): 1348, ('burgers',): 654, ('meatballs',): 157, ('turkey',): 469, ('energy bar',): 203, ('milk',): 972, ('whole wheat rice',): 439, ('french fries',): 1282, ('whole wheat pasta',): 221, ('soup',): 379, ('spaghetti',): 1306, ('frozen vegetables',): 715, ('cookies',): 603, ('cooking oil',): 383, ('champagne',): 351, ('oil',): 173, ('chocolate',): 1229, ('chicken',): 450, ('fresh tuna',): 167, ('tomatoes',): 513, ('red wine',): 211, ('pepper',): 199, ('ham',): 199, ('pancakes',): 713, ('grated cheese',): 393, ('fresh bread',): 323, ('escalope',): 595, ('ground beef',): 737, ('herb & pepper',): 371, ('strawberries',): 160, ('cake',): 608, ('hot dogs',): 243, ('brownies',): 253, ('cereals',): 193, ('muffins',): 181, ('light mayo',): 204, ('yogurt cake',): 205, ('butter',): 226, ('french wine',): 169}, 2: {('frozen smoothie', 'mineral water'): 152, ('green tea', 'mineral water'): 233, ('low fat yogurt', 'mineral water'): 180, ('mineral water', 'olive oil'): 207, ('mineral water', 'shrimp'): 177, ('burgers', 'eggs'): 216, ('milk', 'mineral water'): 360, ('mineral water', 'whole wheat rice'): 151, ('frozen vegetables', 'spaghetti'): 209, ('green tea', 'spaghetti'): 199, ('burgers', 'mineral water'): 183, ('cooking oil', 'mineral water'): 151, ('eggs', 'mineral water'): 382, ('chicken', 'mineral water'): 171, ('eggs', 'spaghetti'): 274, ('mineral water', 'spaghetti'): 448, ('mineral water', 'tomatoes'): 183, ('spaghetti', 'tomatoes'): 157, ('french fries', 'milk'): 178, ('chocolate', 'eggs'): 249, ('mineral water', 'pancakes'): 253, ('pancakes', 'spaghetti'): 189, ('milk', 'spaghetti'): 266, ('ground beef', 'milk'): 165, ('ground beef', 'mineral water'): 307, ('ground beef', 'spaghetti'): 294, ('chocolate', 'french fries'): 258, ('chocolate', 'mineral water'): 395, ('eggs', 'french fries'): 273, ('french fries', 'mineral water'): 253, ('frozen vegetables', 'mineral water'): 268, ('chocolate', 'frozen vegetables'): 172, ('cake', 'mineral water'): 206, ('french fries', 'green tea'): 214, ('french fries', 'pancakes'): 151, ('chocolate', 'green tea'): 176, ('chocolate', 'spaghetti'): 294, ('chocolate', 'ground beef'): 173, ('chocolate', 'milk'): 241, ('frozen vegetables', 'milk'): 177, ('mineral water', 'soup'): 173, ('olive oil', 'spaghetti'): 172, ('burgers', 'french fries'): 165, ('burgers', 'spaghetti'): 161, ('french fries', 'spaghetti'): 207, ('shrimp', 'spaghetti'): 159, ('eggs', 'green tea'): 191, ('eggs', 'milk'): 231, ('eggs', 'pancakes'): 163, ('eggs', 'frozen vegetables'): 163}}
关联规则： []

### <span style="color:red">问题？</span>

In [ ]:
为何此时关联规则为空？

## 2. mlxtend

In [19]:
#  传入模型的数据需要满足特定的格式，转换为bool值
from mlxtend.preprocessing import TransactionEncoder#
te = TransactionEncoder()
df_tf = te.fit_transform(transaction)
# 将 True、False 转换为 0、1 
df_01 = df_tf.astype('int')
encoded_df= pd.DataFrame(df_01,columns=te.columns_)

In [20]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
frequent_itemsets = apriori(encoded_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print("频繁项集：", frequent_itemsets)
print("关联规则：", rules)

频繁项集：      support                    itemsets
0   0.087188                   (burgers)
1   0.081056                      (cake)
2   0.059992                   (chicken)
3   0.163845                 (chocolate)
4   0.080389                   (cookies)
5   0.051060               (cooking oil)
6   0.179709                      (eggs)
7   0.079323                  (escalope)
8   0.170911              (french fries)
9   0.063325           (frozen smoothie)
10  0.095321         (frozen vegetables)
11  0.052393             (grated cheese)
12  0.132116                 (green tea)
13  0.098254               (ground beef)
14  0.076523            (low fat yogurt)
15  0.129583                      (milk)
16  0.238368             (mineral water)
17  0.065858                 (olive oil)
18  0.095054                  (pancakes)
19  0.071457                    (shrimp)
20  0.050527                      (soup)
21  0.174110                 (spaghetti)
22  0.068391                  (tomatoes)
23  0.062525                    (turkey)
24  0.058526          (whole wheat rice)
25  0.052660  (mineral water, chocolate)
26  0.050927       (eggs, mineral water)
27  0.059725  (mineral water, spaghetti)
关联规则：        antecedents      consequents  antecedent support  consequent support  \
0  (mineral water)      (chocolate)            0.238368            0.163845
1      (chocolate)  (mineral water)            0.163845            0.238368
2           (eggs)  (mineral water)            0.179709            0.238368
3  (mineral water)           (eggs)            0.238368            0.179709
4  (mineral water)      (spaghetti)            0.238368            0.174110
5      (spaghetti)  (mineral water)            0.174110            0.238368

    support  confidence      lift  leverage  conviction
0  0.052660    0.220917  1.348332  0.013604    1.073256
1  0.052660    0.321400  1.348332  0.013604    1.122357
2  0.050927    0.283383  1.188845  0.008090    1.062815
3  0.050927    0.213647  1.188845  0.008090    1.043158
4  0.059725    0.250559  1.439085  0.018223    1.102008
5  0.059725    0.343032  1.439085  0.018223    1.159314